/* Import Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Predefinições globais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}

html{
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
    display: block;
}

/* Definindo cores */
:root{
    --branco: #ffffff;
    --preto: #000000;
    --cor-4: #161616;
    --cor-3: #1F1F1F;
    --cor-2: #CDCDCD;
    --cor-1: #AAAAAA;
    --cor-p1: #03A696;
    --cor-p2: #053039;
    --cor-p3: #011826;
    --cor-p4: #F2ECE9;
}

/* Componente container */
.container{
    box-sizing: border-box;
    max-width: 1400px;
    padding-left: 20px ;
    padding-right: 20px ;
    margin: auto;
}

/* ESTILIZAÇÃO NAV */
header nav{
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}
header nav ul{
    list-style: none;
    display: flex;
    gap: 40px;
}
header nav ul a{
    text-decoration: none;
    color: var(--preto);
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
}
header nav ul a:hover{
    color: var(--cor-p1);
    transition: 0.3s;
}
