/* Import Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Predefinições globais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}

html{
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
    display: block;
}

/* Definindo cores */
:root{
    --branco: #ffffff;
    --preto: #000000;
    --cor-4: #161616;
    --cor-3: #1F1F1F;
    --cor-2: #CDCDCD;
    --cor-1: #AAAAAA;
    --cor-p1: #03A696;
    --cor-p2: #053039;
    --cor-p3: #011826;
    --cor-p4: #F2ECE9;
}

/* Componentes Cores */
.branco{
    color: var(--branco);
}
.preto{
    color: var(--preto);
}
.cor-4{
    color: var(--cor-4);
}
.cor-3{
    color: var(--cor-3);
}
.cor-2{
    color: var(--cor-2);
}
.cor-1{
    color: var(--cor-1);
}
.cor-p1{
    color: var(--cor-p1);
}
.cor-p2{
    color: var(--cor-p2);
}
.cor-p3{
    color: var(--cor-p3);
}
.cor-p4{
    color: var(--cor-p4);
}

/* Componentes */
.container{
    box-sizing: border-box;
    max-width: 1400px;
    padding-left: 20px ;
    padding-right: 20px ;
    margin: auto;
}
.button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    text-decoration: none;
    color: var(--branco);
    padding: 8px 8px 8px 20px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 1rem;
    transition: .3s;
}


/* Fontes */
.font-xl{
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.125;
}
.font-l{
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.15;
}
.font-m-1{
    font-size: 1rem;
    font-weight: 400;
}
.font-m-2{
    font-size: 1rem;
    font-weight: 500;
}

/* ESTILIZAÇÃO NAV */
main{
    background: url(../assets/images/hero-image.jpg) center center / cover no-repeat scroll;;
}

/* ESTILIZAÇÃO NAV */
header nav{
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}
header nav ul{
    list-style: none;
    display: flex;
    gap: 40px;
}
header nav ul a{
    text-decoration: none;
    color: var(--branco);
    font-weight: 500;
    font-size: 1rem;
}
header nav ul a:hover{
    color: var(--cor-p1);
    transition: 0.3s;
}

/* ESTILIZAÇÃO CONTEUDO MAIN */
.conteudo-main{
    padding-top: 120px;
    padding-bottom: 180px;
}
.conteudo-main h1{
    margin-bottom: 20px;
}
.conteudo-main p{
    width: 527px;
    margin-bottom: 40px;
}
.conteudo-main a{
    background-color: var(--cor-p1);
    max-width: 203px;
}
.conteudo-main a:hover{
    background-color: var(--cor-p2);
}

/* ESTILIZAÇÃO SEÇÃO SOBRE */
.sobre-bg{
    background-color: var(--cor-p4);
}
.sobre{
    padding-block: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.video-sobre{
    max-width: 100%;
}
.video-sobre img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.conteudo-sobre{
    display: flex;
    flex-direction: column;
}
.conteudo-sobre span{
    display: block;
    margin-bottom: 10px;
}
.conteudo-sobre h2{
    width: 400px;
    margin-bottom: 20px;
}
.conteudo-sobre p{
    width: 540px;
    margin-bottom: 60px;
}
.diferenciais-sobre{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;
}
.diferencial h3{
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 10px;
}
.diferencial p{
    max-width: 250px;
    margin-bottom: 0;
}
.conteudo-sobre a{
    background-color: var(--preto);
    max-width: 200px;
    align-self: flex-end;
}
.conteudo-sobre a:hover{
    background-color: var(--cor-3);
}

/* ESTILIZAÇÃO SEÇÃO BENEFICIOS */
.beneficios-bg{
    background-color: var(--cor-p2);
}
.beneficios{
    padding-block: 120px;
}
.beneficios span{
    display: block;
    margin-bottom: 10px;
}
.beneficios h2{
    width: 580px;
    margin-bottom: 20px;
}
.beneficios p{
    width: 740px;
    margin-bottom: 60px;
}
.cards-beneficios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.card-beneficio{
    max-width: 360px;
}
.card-beneficio img{
    margin-bottom: 10px;
    padding: 6px;
    background-color: var(--cor-p1);
    border-radius: 10px;
}
.card-beneficio h3{
    font-size: 2rem;
    line-height: 1.125;
    margin-bottom: 10px;
}
.card-beneficio p{
    width: 100%;
    margin-bottom: 0;
}